/* Dark Theme Styles */
QWidget {
    background-color: #2E2E2E;
    color: #FFFFFF;
}

QPushButton {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

QPushButton:hover {
    background-color: #3E3E3E;
}

QLabel {
    color: #FFFFFF;
}

QTableWidget {
    background-color: #333;
    color: white;
}

QHeaderView::section {
    background-color: #333;
    color: white;
    padding: 5px;
}

QTableWidget::item:selected {
    background-color: #00ccff;
    color: white;
}

QHeaderView::section:checked {
    background-color: #00ccff;
}

QTableCornerButton::section {
    background-color: #00ccff;
    /* Color for the corner button */
    color: #000;
}