
QWidget {
    color: #00ccff;
    font: 18px bold;
    font-weight: bold;
    border-radius: 1px;
    height: 11px;
}

QToolButton {
    background-color: #00ccff;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px 5px;
    border: 2px solid #000;
    transition: background-color 0.3s ease;
    
}


QToolButton:hover {
    background-color: #007e9e;
        font-size: 11px;
        padding: 5px;
}

QHBoxLayout {
    Background: #000;
}


