
QWidget {
    color: #00ccff;
    font: 18px bold;
    font-weight: bold;
    border-radius: 1px;
    height: 11px;
}

/* QToolButton {
    Background: #00ccff;
    font-size: 11px;
    font-weight: bold;
    border-radius: 1px;
    height: 11px;
    padding: 1
} */

QToolButton:hover {
    Background: #00a3cc;
    font-size: 11px;
    padding: 5px
}

QHBoxLayout {
    Background: #000;
}


/* CSS */
QToolButton {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

QToolButton:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    z-index: -1;
}

QToolButton:hover:after {
    transform: translate(0, 0);
}

QToolButton:active {
    background-color: #ffdeda;
    outline: 0;
}

QToolButton:hover {
    outline: 0;
}

@media (min-width: 768px) {
    QToolButton {
        padding: 0 40px;
    }
}